<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>happ_email</key>
	<string>info@happapp.info</string>
	<key>api_key_google_map</key>
	<string>AIzaSyDNOclJirCsEqorLqwxs1aE7XOhik7y0xQ</string>
</dict>
</plist>
